.color-pal {
    width  : 20px;
    height : 20px;
    display: inline-block;
}

.color-grad {
    width  : 200px;
    height : 20px;
    display: inline-block;
}

.red-grad {
    background: linear-gradient(to right, #13532e, #2ecc71);
}

.green-grad {
    background: linear-gradient(to right, #ffccc7, #b51200);
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.state-tile-ctr {
    cursor: none;
}

.darkmode {
    background-color: rgb(255, 255, 255);
}

.map-container {
    width: 50vw;
}

.facts-ctr {
    padding: 0 1em;
}

body {
    font-family: helvetica !important;
}

.active {
    text-decoration: none !important;
    border-bottom  : 7px solid blue !important;
}

.ex1-legend ul {
    list-style-type: none;
    margin         : 0;
    padding-left   : 2;
    overflow       : hidden;
}

.ex1-legend li {
    float: left;
}

.ex1-legend .white {
    background-color: #98abc5;
    width           : 60px;
    /* height       : 27px; */
    text-align      : center;
}


.legend-chip p {
    width  : 100%;
    padding: 3px 1px;
}

#demo li {
    line-height: 2em;
}

li {
    margin-bottom: 1em;
}

li span {
    position : absolute;
    min-width: 800px;
    padding  : 0 1em;
}

nav ul {
    display        : flex;
    justify-content: flex-start;
    align-items    : stretch;
    align-content  : stretch;
}

nav li {
    margin-bottom: 1em;
    display      : flex;
    margin       : 1em;
}