.line-chip {
    margin : 15px 0px;
    display: inline-block;
    float  : left;
}

.line {
    margin : 20px 18px;
    display: inline-block;
}

#graphic {
    /* background-color: lightgrey; */
}

div.tooltip {
    position  : absolute;
    text-align: center;
    padding   : 2px;
    font      : 24px;
    font-family:
        georgia,
        helvetica,
        'Times New Roman',
        Times,
        serif !important;
    background    : white;
    border        : 0px;
    pointer-events: none;
}

#finalViz {
    border      : 1px solid lightgrey;
    border-left : 0px;
    border-right: 0px;
}

.rect-stroke {
    stroke-width: 1px;

}

.bar-rect-stroke {
    /* stroke-width: 2px; */

}



g.state-tile-ctr rect.green-rect {
    /* stroke   : black; */
    /* stroke: #13552e; */
}

g.green-rect rect {
    /* stroke: #13552e; */
    /* stroke   : black; */

}

g.state-tile-ctr rect.red-rect {
    /* stroke             : black; */
    /* stroke          : #4d1812;
    stroke-dasharray   : 5 3; */
}

g.red-rect rect {
    /* stroke             : black; */
    /* stroke          : #4d1812;
    stroke-dasharray   : 5 3; */

}

.red {
    background-color   : white;
    border             : 1px solid black;
    /* background-color: #c0392b;
    border             : 4px dashed #750c00; */
}

.green {
    background-color   : darkgrey;
    border             : 1px solid black;
    /* background-color: #27ae60;
    border             : 4px solid #13552e;*/
}

.bar-red {
    /* background-color: #c0392b; */
    background-color   : white;
    border             : 1px solid black;

    /* border          : 3px dashed #750c00; */
}

.bar-green {
    /* background-color: #27ae60; */
    background-color   : darkgrey;
    border             : 1px solid black;
    /* border          : 1px solid #13552e; */
}

#statesRef {
    margin-left: -50px;
}

.abr-li {
    float      : left;
    display    : inline-block;
    margin     : 4px 10px;
    white-space: inherit;
}

footer {
    background: #333;
    color     : white;
    text-align: center;
    margin-top: 200px;
    height    : 100px;
    padding   : 3em;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

.custom-article {
    margin-top: 3em;
}

.color-pal {
    width        : 30px;
    height       : 30px;
    display      : inline-block;
    border-radius: 8px;
}

.bar-color-pal {
    width  : 80px;
    height : 30px;
    display: inline-block;
}

.color-grad {
    width  : 200px;
    height : 20px;
    display: inline-block;
}

.red-grad {
    background: linear-gradient(to right, #13532e, #2ecc71);
}

.green-grad {
    background: linear-gradient(to right, #ffccc7, #b51200);
}


.darkmode {
    background-color: rgb(255, 255, 255);
}

.map-container {
    width: 50vw;
}

.facts-ctr {
    padding: 0 1em;
}

body {
    font-family: georgia, helvetica, 'Times New Roman', Times, serif !important;
}

.active {
    text-decoration: none !important;
    border-bottom  : 7px solid blue !important;
}

.ex1-legend ul {
    list-style-type: none;
    margin         : 0;
    padding-left   : 2;
    overflow       : hidden;
}

.ex1-legend li {
    float: left;
}

.ex1-legend .white {
    background-color: #98abc5;
    width           : 60px;
    /* height       : 27px; */
    text-align      : center;
}


.legend-chip p {
    width  : 100%;
    padding: 3px 1px;
}

#demo li {
    line-height: 2em;
}

li {
    margin-bottom: 1em;
}

li span {
    position : absolute;
    min-width: 800px;
    padding  : 0 1em;
}

nav ul {
    display        : flex;
    justify-content: flex-start;
    align-items    : stretch;
    align-content  : stretch;
}

nav li {
    margin-bottom: 1em;
    display      : flex;
    margin       : 1em;
}